//
//  Config.xcconfig
//  Bobmoo_iOS
//
//  Created by 송성용 on 2/20/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

BASE_URL = https:/$()/bobmoo.site/api/v1
APP_URL_SCHEME = bobmoo

// Fill these values per build configuration in Xcode or a local xcconfig override.
AMPLITUDE_API_KEY_DEBUG = 83e314317821312fa6c62ae1d8bd7fd2
AMPLITUDE_API_KEY_RELEASE = 83e314317821312fa6c62ae1d8bd7fd2
